* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
}

.App {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homewrapper {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}

button {
  background-color: #DF2E38;
  margin: 10px 20px;
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: larger;
}

.paraofhome {
  color: #070A52;
  font-size: xx-large;
}

.gamewrapper {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-around;
  width: 80%;
}

.gameh1 {
  color: #070A52;
  font-size: xx-large;
  text-align: start;
}

.scorediv {
  display: flex;
  justify-content: space-around;
  font-weight: 550;
}

.winnerdiv{
  font-size: 38px;
  color: #AF2D2D;
  font-weight: bold;
}

.versesarea{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player, .computer{
  font-size: 70px;
}

.computer{
  -webkit-transform: scaleX(-1);
}

.vs{
  font-size: 30px;
}

.gameh3{
  cursor: pointer;
  transition: all .3s ease-in-out
}

.gameh3:hover{
  color: #AF2D2D;
}